{{#partial "content"}}
    <h3 class="mt-5 text-white">Add a Sighting</h3>
    <div class="card col-md-4 mt-4">
        <form action="/sightings/add" method="post" name="sightingsForm">
            <div class="form-group">
                <label for="wildlifeName">Wildlife Name</label>
                <select name="wildlifeName" id="wildlifeName" class="form-control">
                    <option label="- Wildlife name -"></option>
                    <option value="Animal">Animal</option>
                    <option value="Endangered">Endangered</option>
                </select>
            </div>
            <div class="form-group">
                <label for="rangerName">Ranger Name</label>
                <input type="text" name="rangerName" id="rangerName" class="form-control" placeholder="- Ranger Name -">
            </div>
            <div class="form-group">
                <label for="health">Health</label>
                <select name="health" id="health" class="form-control" disabled>
                    <option label="-Endangered Animal Health -"></option>
                    <option value="healthy">Healthy</option>
                    <option value="ill">Ill</option>
                    <option value="okay">Okay</option>
                </select>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <select name="age" id="age" class="form-control" disabled>
                    <option label="-Endangered Animal Age -"></option>
                    <option value="newborn">Newborn</option>
                    <option value="young">Young</option>
                    <option value="adult">Adult</option>
                </select>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <select name="location" id="location" class="form-control">
                    <option label="- Location -"></option>
                    <option value="By the riverside">By the riverside</option>
                    <option value="East">East</option>
                    <option value="West">West</option>
                    <option value="At the Camp">At the Camp</option>
                    <option value="In the Savannah">In the Savannah</option>
                    <option value="Deep in the woods">Deep in the woods</option>
                </select>
            </div>
            <button class="btn btn-success  mb-4 btn-custom" type="submit">Add Sighting</button>
        </form>
    </div>
{{/partial}}
{{>layout.hbs}}
